
body {
    font-family: Arial, sans-serif;
    background-color: #e3dbd4; 
    color: #050202; 
    margin: 0;
    padding: 20px;
}


header {
    padding: 30px;
    background-color: rgba(192, 188, 188, 0.8);
    border-radius: 13px;
    text-align: center;
}

.highlight {
    background-color: #f4ece6;
    color: #2f4f4f;
}


p {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 1.5;
    font-weight: normal;
}

section {
    padding: 20px;
    margin: 20px 0;
    background-color: #bc733c43; 
    border-radius: 13px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
    color: #070606;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
figcaption{
    color: #070606;
   
    
   

}   
.image-container {
    margin: 0; 
    overflow: hidden; 
  }
  
  .styled-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

    
  
  
  .styled-image:hover {
    transform: scale(1.05); 
  }
  
  table {
    border-collapse: collapse;
    width: 60%;
    margin: auto;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
form {
    max-width: 600px;
    margin: 0 auto;
}




a:link {
    color: darkblue;
    text-decoration: none;
}

a:visited {
    color: #0b1bc9;
}

a:hover {
    color: #e40a56;
    text-decoration: underline; 
}

a:active {
    color: #0b0b0b;
}


footer {
    background-color: rgba(54, 50, 50, 0.8);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 1rem;
    width: 100%;
    position: relative;
    bottom: 0;
    border-radius: 13px;
}


nav {
    background-color: #f0f0f0; 
    padding: 10px;
}


nav a:hover {
    color: #ff6600;
    text-decoration: underline;
}
