/* General body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #e3dbd4; /* Light background */
    color: #050202; /* Default text color */
    margin: 0;
    padding: 20px;
}

/* Header styling */
header {
    padding: 30px;
    background-color: rgba(192, 188, 188, 0.8);
    border-radius: 13px;
    text-align: center;
}

.highlight {
    background-color: #f4ece6;
    color: #2f4f4f;
}

/* Paragraph styling */
p {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 1.5;
    font-weight: normal;
}

/* Section styling */
section {
    padding: 20px;
    margin: 20px 0;
    background-color: #bc733c43; /* Lighter section background */
    border-radius: 13px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

/* Headings styling */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
    color: #070606;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.image-container {
    max-width: 185px; /* Restrict the image container's size */
    margin: 0; /* Center the container */
    overflow: hidden; /* Prevent any overflow */
  }
  
  .styled-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

    
  
  
  .styled-image:hover {
    transform: scale(1.05); /* Slight zoom effect */
  }
  


/* Link styling */
a:link {
    color: darkblue;
    text-decoration: none;
}

a:visited {
    color: #0b1bc9;
}

a:hover {
    color: #e40a56;
    text-decoration: underline; /* Add underline on hover */
}

a:active {
    color: #0b0b0b;
}

/* Footer styling */
footer {
    background-color: rgba(54, 50, 50, 0.8);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 1rem;
    width: 100%;
    position: relative;
    bottom: 0;
    border-radius: 13px;
}

/* Nav styling */
nav {
    background-color: #f0f0f0; /* Light gray background for the navigation */
    padding: 10px;
}

/* Optional hover effect for navigation */
nav a:hover {
    color: #ff6600;
    text-decoration: underline;
}
